<div role="tabpanel" class="tab-pane <%= 'active' if @tab == 'filter' %>" id="filter">
  <p class="instructions"><%= t :'spotlight.exhibits.filter.instructions' %></p>
  <% @exhibit.filters.each do |filter| %>
    <%= render partial: 'spotlight/filters/filter_form', locals: { exhibit: @exhibit, filter: filter } %>
  <% end %>
  <%= render partial: 'spotlight/filters/filter_form', locals: { exhibit: @exhibit, filter: @exhibit.filters.new } %>
</div>
