<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to application_name, "https://mndigital.org/", class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://mndigital.org/about/about-us" class="dropdown-item">About Us</a></li>
            <li><a href="https://mndigital.org/about/minnesota-digital-library-policies" class="dropdown-item">Policies</a></li>
            <li><a href="https://mndigital.org/about/contributing-organizations" class="dropdown-item">Contributing Organizations</a></li>
            <li><a href="https://mndigital.org/about/strategic-plan" class="dropdown-item">Strategic Plan</a></li>
            <li><a href="https://mndigital.org/about/press-room" class="dropdown-item">Press Room</a></li>
            <li><a href="https://mndigital.org/contact" class="dropdown-item">Contact Us</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://mndigital.org/get-involved/contribute-minnesota-digital-library" class="dropdown-item">Contribute to MDL</a></li>
            <li><a href="https://mndigital.org/get-involved/call-projects" class="dropdown-item">Call for Projects</a></li>
            <li><a href="https://mndigital.org/get-involved/annual-regional-meetings" class="dropdown-item">Annual &amp; Regional Meetings</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://mndigital.org/projects/primary-source-sets" class="dropdown-item">Primary Source Sets</a></li>
            <li><a href="https://mndigital.org/projects/digital-public-library-america-collaboration" class="dropdown-item">Digital Public Library of America Collaboration</a></li>
            <li><a href="https://mndigital.org/projects/scan-keeps" class="dropdown-item">Scan for Keeps</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Standards &amp; Best Practices <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://mndigital.org/standards-best-practices/metadata-entry-guidelines" class="dropdown-item">Metadata Entry Guidelines</a></li>
            <li><a href="https://mndigital.org/standards-best-practices/oral-history-audio-collections-transcription-style-guide" class="dropdown-item">Oral History &amp; Audio Collections Transcription Style Guide</a></li>
            <li><a href="https://mndigital.org/standards-best-practices/rights-statements-resources" class="dropdown-item">Rights Statements Resources</a></li>
            <li><a href="https://mndigital.org/standards-best-practices/best-practices-digitization" class="dropdown-item">Best Practices for Digitization</a></li>
            <li><a href="https://mndigital.org/standards-best-practices/glossary-format-terms" class="dropdown-item">Glossary of Format Terms</a></li>
            <li><a href="https://mndigital.org/standards-best-practices/google-analytics-how-read-your-monthly-reports" class="dropdown-item">Google Analytics Reports</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>