  <header role="banner" id="page-header">
    
      </header> <!-- /#page-header -->

  <div class="row">

    
    <section class="col-md-12">
            <ol class="breadcrumb"><li><a href="/">Home</a></li>
<li><a href="/projects" class="active-trail">Projects</a></li>
<li><a href="/projects/minnesota-reflections" class="active-trail">Minnesota Reflections</a></li>
<li class="active">Glossary of Format Terms</li>
</ol>      <a id="main-content"></a>
                    <h1 class="page-header">Glossary of Format Terms</h1>
                                                          <div class="region region-content">
    <section id="block-system-main" class="block block-system clearfix">

      
  <article id="node-469" class="node node-page clearfix" about="/projects/minnesota-reflections/glossary-format-terms" typeof="foaf:Document">
    <header>
            <span property="dc:title" content="Glossary of Format Terms" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>      </header>
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p>The following terms are used to populate the <strong><em>Item Physical Format</em></strong> field. All of these terms are taken from the Getty Museum's <a href="http://www.getty.edu/research/tools/vocabularies/aat/index.html">Art &amp; Architecture Thesaurus (AAT) Online</a>.</p>


<div class="glossary">
<p>
<img src="/images/pages/glossary/accounts.jpg" alt="Accounts example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Accounts">Accounts</a></strong>
<br />
Documents in which monies or goods received and paid or given out are recorded in order to permit periodic totaling.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mhs:659#/image/0">View example: Accounts</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/notices.jpg" alt="Advertisements example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Advertisements">Advertisements</a></strong>
<br />
Public notices or paid announcements, especially those in print.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/swede:4#/image/0">View example: Advertisements</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/aerial.jpg" alt="Aerial photographs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Aerial+photographs">Aerial photographs</a></strong>
<br />
Photographs of the earth taken from aircraft. Do not use for photographs of celestial bodies or astronomical phenomena.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/whs:205#/image/0">View example: Aerial photographs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/affadavits.jpg" alt="Affidavits example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Affidavits">Affidavits</a></strong>
<br />
Sworn statements in writing; especially made upon oath before an authorized magistrate or officer.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:444#/image/0">View example: Affidavits</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/albumen.jpg" alt="Albumen prints example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Albumen+prints">Albumen prints</a></strong>
<br />
Photographic prints having albumen as the binder; always black-and-white, though they may be toned to a monochrome hue.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/cotton:751#/image/0">View example: Albumen prints</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/almanac.jpg" alt="Almanacs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Almanacs">Almanacs</a></strong>
<br />
Publications, usually annuals, containing a variety of useful facts of miscellaneous nature or statistical information. Originally included projections of coming days, months and holidays.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll35:0#/pdf/0">View example: Almanacs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/announcement.png" alt="Announcements example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Announcements">Announcements</a></strong>
<br />
Printed, spoken or published statements or notices that inform the reader of an event or other news.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll39:73#/image/0">View example: Announcements</a>
</p>
</div>


<div class="glossary">
<p>
<img src="/images/pages/glossary/architectural.jpg" alt="Architectural drawings (visual works) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Architectural+drawings+%28visual+works%29">Architectural drawings (visual works)</a></strong>
<br />
Drawings of architecture and architectural projects, whether the project was executed or not. The term may also refer to any image in a two-dimensional medium that serves this same purpose, including prints and computer images. NOTE: Blueprints and blue-line drawings should be entered as <em>Architectural drawings</em>.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/naa:140#/image/0">View example: Architectural drawings (visual works)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/articles.jpg" alt="Articles example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Articles">Articles</a></strong>
<br />
Literary compositions prepared for publication as an independent portion of a magazine, newspaper, encyclopedia, or other work.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll16:374#/image/0">View example: Articles</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/articlesinc.jpg" alt="Articles of incorporation example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Articles+of+incorporation">Articles of incorporation</a></strong>
<br />
Written agreements embodying the purposes or other conditions of the association of a number of persons for the pursuit of a joint enterprise; especially those duly executed and filed with a state's administrative authorities so as to have the force of a charter under general incorporation law.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll20:58#/image/0">View example: Articles of incorporation</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/atlases.jpg" alt="Atlases example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Atlases">Atlases</a></strong>
<br />
Volumes of maps, with or without descriptive text, which may be issued to supplement or accompany texts or be published independently.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mow:404#/image/0">View example: Atlases</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/attendance.png" alt="Attendance Records example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Attendance+records">Attendance Records</a></strong>
<br />
Records maintained by an organization regarding the action or fact of individuals being present to take part in social transactions, entertainment, instruction, worship, or in answer to a summons.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll60:1924#/image/0">View example: Attendance Records</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/badges.png" alt="Badges example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Badges">Badges</a></strong>
<br />
Objects bearing special or distinctive marks and worn for decoration or to signify affiliation. The term refers to any distinctive device, emblem, or mark worn to indicate a person's affiliation, rank, office, name, or membership in an organization or support for a cause, particularly objects that comprise small pieces of metal, card, plastic, etc., that bear a distinguishing design or words.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll45:156#/image/0">View example: Badges</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/bills.jpg" alt="Bills (legislative records) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Bills+%28legislative+records%29">Bills (legislative records)</a></strong>
<br />
Drafts of proposed laws introduced in a legislative body.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/irrc:1290#/image/0">View example: Bills (legislative records)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/bwphotos.jpg" alt="Black-and-white photographs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Black-and-white+photographs">Black-and-white photographs</a></strong>
<br />
Refers to a broad class of photographs having images in gray tones, black, and white, and sometimes one hue (which can result from chemical processes used, including toning, or from aging).
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stc:207#/image/0">View example: Black-and-white photographs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/booklets.jpg" alt="Booklets example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Booklets">Booklets</a></strong>
<br />
Small books consisting of a few sheets that are glued, stitched, or stapled together between thin card or paper covers.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/jhs:614#/image/0">View example: Booklets</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/books.jpg" alt="Books example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Books">Books</a></strong>
<br />
Items comprising a collection of leaves of paper, parchment, wood, stiffened textile, ivory, metal tablets, or other flat material, that are blank, written on, or printed, and are strung or bound together in a volume.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p15160coll10:369#/image/0">View example: Books</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/boxes.jpg" alt="Boxes (containers) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Boxes+%28containers%29+">Boxes (containers)</a></strong>
<br />
Rigid, often rectangular containers usually with a lid or cover in which something non-liquid is kept or carried.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll53:23#/image/0">View example: Boxes (containers)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/broadsides.jpg" alt="Broadsides (notices) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289377&f%5Bphysical_format_ssi%5D%5B%5D=Broadsides+%28notices%29">Broadsides (notices)</a></strong>
<br />
Sizeable single-sheet notices or advertisements printed on one or both sides, often chiefly textual rather than pictorial, and printed to be read unfolded.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mhs:502#/image/0">View example: Broadsides (notices)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/brochures.png" alt="Brochures example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Brochures">Brochures</a></strong>
<br />
Printed or graphic material intended for promotional or publicity purposes, such as small printed works describing the features or amenities of a place, an organization, or other concern.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/umk:58#/image/0">View example: Brochures</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/budgets.png" alt="Budgets example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Budgets">Budgets</a></strong>
<br />
Statements of revenue and expenditure, financial proposals or schemes for a public body or the domestic accounts of a family or individual.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll73:887#/image/0">View example: Budgets</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/building.png" alt="Building Permits example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Building+permits">Building Permits</a></strong>
<br />
Permits required by local governmental bodies for new building, or for major alteration or expansion of existing structures. Applications, building plans, estimated costs, and a fee are usually required before a permit is issued.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:10368#/image/0">View example: Building Permits</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/bulletins.jpg" alt="Bulletins example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Bulletins">Bulletins</a></strong>
<br />
A serial publication issued by an organization or society, especially a short account, alert, or report of public news or events issued by authority.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll20:555#/image/0">View example: Bulletins</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/bizcards.jpg" alt="Business cards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Business+cards">Business cards</a></strong>
<br />
Small cards bearing the name and address of a business concern and one of its representatives, and intended more for information than advertisement. Note: not to be confused with "trade cards" and "advertising cards."
<br /><br />
<a href="http://reflections.mndigital.org/catalog/wch:422#/image/0">View example: Business cards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/cabinet.jpg" alt="Cabinet photographs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Cabinet+photographs">Cabinet photographs</a></strong>
<br />
Mounted on cards and a larger alternative to the <em>Cartes-de-visite</em>. The larger size (approximately 6 &frac12; x 4 &frac14; inches) was considered more appropriate for display, allowed for group portraits, and permitted the image to be retouched. Popular until World War I.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/bsc:2397#/image/0">View example: Cabinet photographs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/calendars.png" alt="Calendars example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Calendars">Calendars</a></strong>
<br />
Registers of days or other contrivances for reckoning days, months, years, etc., such as a table showing the division of a given year into its months, weeks, days, years, or other divisions of time. A calendar may include important astronomical data, ecclesiastical or other festivals, and other events belonging to specific days.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll6:3503#/image/0">View example: Calendars</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/canisters.jpg" alt="Canisters example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Canisters">Canisters</a></strong>
<br />
Cylindrical or rectangular containers usually of lightweight metal, plastic, or laminated pasteboard used for holding dry products.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll53:25#/image/0">View example: Canisters</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/carcards.jpg" alt="Car cards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Car+cards">Car cards</a></strong>
<br />
Posters intended to be placed in subway cars, street cars and buses.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/msn:2061#/image/0">View example: Car cards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/cartes.jpg" alt="Cartes-de-visite (card photographs) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Cartes-de-visite+%28card+photographs%29">Cartes-de-visite (card photographs)</a></strong>
<br />
Refers to small-format photographs affixed to card stock. They were typically portraits and the image was a standard size of 3 &frac14; x 2 &frac14; inches. They went out of fashion in the 1870s.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/fhs:84#/image/0">View example: Cartes-de-visite (card photographs)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/catalogs.jpg" alt="Catalogs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Catalogs">Catalogs</a></strong>
<br />
Enumerations of items, such as a file of bibliographic records or a list of art objects, usually arranged systematically and with descriptive details; may be in book or pamphlet form, or on cards.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stc:1034#/image/0">View example: Catalogs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/certificates.jpg" alt="Certificates example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Certificates">Certificates</a></strong>
<br />
Documents giving authoritative recognition of a fact, qualification, or promise.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mmm:17#/image/0">View example: Certificates</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/checklists.png" alt="Checklists example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Checklists">Checklists</a></strong>
<br />
Lists in which items can be compared, scheduled, verified, or identified.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll39:218#/image/0">View example: Checklists</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/checks.png" alt="Checks (bank checks) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Checks+%28bank+checks%29">Checks (bank checks)</a></strong>
<br />
Written orders drawn on a bank to pay, on demand, a specified sum of money to a named person.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll73:31#/image/0">View example: Checks (bank checks)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/citydir.jpg" alt="City directories example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=City+directories">City directories</a></strong>
<br />
Enumerations of names, addresses, and other data about specific groups of persons or organizations; may appear in alphabetic or graphic format.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stearns:3130#/image/0">View example: City directories</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/colloidon.jpg" alt="Collodion prints example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Collodion+prints">Collodion prints</a></strong>
<br />
Photographic prints having collodion as the binder.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nemhc:2469#/image/0">View example: Collodion prints</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/colorphotos.jpg" alt="Color photographs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Color+photographs">Color photographs</a></strong>
<br />
The broad class of photographs having images composed of more than one hue, plus the neutral tones. For photographs having a range of tones within one hue, see <em>Black-and-white photographs</em>.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/bsm:96#/image/0">View example: Color photographs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/colortransparencies.jpg" alt="Color transparencies example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Color+transparencies">Color transparencies</a></strong>
<br />
Photographic images designed for viewing by transmitted light, composed of more than one hue, plus the neutral tones.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/swede:278#/image/0">View example: Color transparencies</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/contact.jpg" alt="Contact prints example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Contact+prints">Contact prints</a></strong>
<br />
Photographic prints made by interfacing a negative and a sheet of photographic paper and exposing the paper with raw light.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/swede:37#/image/0">View example: Contact prints</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/contour.jpg" alt="Contour maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496430289378&f%5Bphysical_format_ssi%5D%5B%5D=Contour+maps">Contour maps</a></strong>
<br />
Maps showing elevation and the configuration of the ground by the use of contour lines and usually lacking other detail.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/shr:87#/image/0">View example: Contour maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/contracts.jpg" alt="Contracts example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496437871347&f%5Bphysical_format_ssi%5D%5B%5D=Contracts">Contracts</a></strong>
<br />
Documents, enforceable by law, embodying agreements between two or more competent parties to do or not to do something, and specifying the terms and conditions of the agreement.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/winona:640#/image/0">View example: Contracts</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/cyanotypes.jpg" alt="Cyanotypes (photographic prints) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496437871347&f%5Bphysical_format_ssi%5D%5B%5D=Cyanotypes">Cyanotypes (photographic prints)</a></strong>
<br />
Blue-toned photographic prints produced by the blueprint process. These do NOT include reproductive prints of architectural or other technical drawings; for these, use <em>Architectural drawings</em>.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:1360#/image/0">View example: Cyanotypes (photographic prints)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/deeds.jpg" alt="Deeds example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Deeds">Deeds</a></strong>
<br />
Documents, usually executed under seal, containing a conveyance, especially of real estate.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/sew:36#/image/0">View example: Deeds</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/design.jpg" alt="Design drawings example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Design+drawings">Design drawings</a></strong>
<br />
Drawings intended to work out the scheme of a project, whether the project is expected to be executed or not; more finished than sketches.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stc:6999#/image/0">View example: Design drawings</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/diaries.jpg" alt="Diaries example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Diaries">Diaries</a></strong>
<br />
Refers to books containing the daily, personal accounts of the writer's own experiences, attitudes, and observations. Use <em>Journals (accounts)</em> when referring to an individual's or an organization's account of occurrences or transactions.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:909#/image/0">View example: Diaries</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/diplomas.jpg" alt="Diplomas example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Diplomas">Diplomas</a></strong>
<br />
Formal documents conferring some honor, degree, or privilege, especially those bearing record of graduation from or a degree conferred by an educational institution.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stc:216#/image/0">View example: Diplomas</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/directories.png" alt="Directories example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Directories">Directories</a></strong>
<br />
Enumerations of names, addresses, and other data about specific groups of persons or organizations; may appear in alphabetic or graphic format.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:14329#/image/0">View example: Directories</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/docsother.jpg" alt="Documents (other) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Documents+%28other%29">Documents (other)</a></strong>
<br />
NOTE: This is a general Item Physical Format term for Text based items. This term should ONLY be used when an item cannot be assigned a more specific term. Please review the list of Item Physical Format terms under Text before assigning this value. Contact the Metadata Coordinator for assistance if you have any questions about the use of this term.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nico:2877#/image/0">View example: Documents (other)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/drawings.jpg" alt="Drawings (visual works) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Drawings+%28visual+works%29">Drawings (visual works)</a></strong>
<br />
Visual works produced by drawing, which is the application of lines on a surface, often paper, by using a pencil, pen, chalk, or some other tracing instrument to focus on the delineation of form rather than the application of color.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stbm:253#/image/0">View example: Drawings (visual works)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/engineering.jpg" alt="Engineering maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Engineering+maps">Engineering maps</a></strong>
<br />
Maps, usually maintained in the public works or engineering departments of a city, showing information such as street and rail rights of way, location of bridges, and grade separations; used for planning and executing engineering work in a locality.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/grh:125#/image/0">View example: Engineering maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/exams.png" alt="Examinations (documents) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Examinations+%28documents%29+">Examinations (documents)</a></strong>
<br />
Written questions or exercises testing knowledge, aptitude, or skills.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll73:1381#/image/0">View example: Examinations (documents)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/exhibition.png" alt="Exhibition Catalogs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Exhibition+Catalogs">Exhibition Catalogs</a></strong>
<br />
Publications that document the works displayed in an exhibition.
<br /><br />
<a href="http://www.reflections.mndigital.org/catalog/p16022coll39:1379#/image/0">View example: Exhibition Catalogs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/forestry.png" alt="Forestry maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Forestry+maps">Forestry maps</a></strong>
<br />
Maps of a given region, intended to chart the areas covered by forests and other vegetation. They typically record the boundaries of the forest, the relief of the area, assessments of timber volume and expected growth rates, and features or projections related to concerns such as animal or human inhabitants and ecological matters.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p15160coll14:261#/image/0">View example: Forestry maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/gelatin.jpg" alt="Gelatin silver prints example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Gelatin+silver+prints">Gelatin silver prints</a></strong>
<br />
Refers to photographic prints having gelatin as the binder, holding silver as the final image material; always black-and-white, though they may be toned to a monochrome hue.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nemhc:1961#/image/0">View example: Gelatin silver prints</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/greeting.jpg" alt="Greeting cards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Greeting+cards">Greeting cards</a></strong>
<br />
Cards often imprinted with messages and suitable illustrations, sent or given on special occasions or holidays.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/blue:1887#/image/0">View example: Greeting cards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/oralhistories.jpg" alt="Home Movies example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Home+Movies">Home Movies</a></strong>
<br />
Motion pictures on film or videotape made by amateurs, or professionals in a nonprofessional capacity, intended for home viewing by family and friends. People, scenes and events filmed generally feature the filmmakers' immediate circle and personal activities.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stc:8849#/kaltura_video">View example: Home Movies</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/hymnals.jpg" alt="Hymnals example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Hymnals">Hymnals</a></strong>
<br />
Books containing collections of church hymns.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p15160coll10:272#/image/0">View example: Hymnals</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/instructional.jpg" alt="Instructional materials example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Instructional+materials">Instructional materials</a></strong>
<br />
Print or non-print materials used for the purpose of imparting knowledge, attitudes, or skills to others.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p15160coll10:687#/image/0">View example: Instructional materials</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/insurance.jpg" alt="Insurance policies example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726274&f%5Bphysical_format_ssi%5D%5B%5D=Insurance+policies">Insurance policies</a></strong>
<br />
Documents by which one party (the insurer) in consideration of a premium, engages to indemnify another (the insured) against a contingent loss, by making a payment in compensation.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/sew:16#/image/0">View example: Insurance policies</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/invitations.jpg" alt="Invitations example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Invitations">Invitations</a></strong>
<br />
Engraved, printed, or written expressions requesting a person's company at a certain event at a given time and place.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/hzf:40#/image/0">View example: Invitations</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/invoices.jpg" alt="Invoices example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Invoices">Invoices</a></strong>
<br />
Documents showing items supplied, together with the prices charged for each; also, itemized bills or accounts.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/sew:25#/image/0">View example: Invoices</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/journals.jpg" alt="Journals (accounts) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Journals+%28accounts%29">Journals (accounts)</a></strong>
<br />
Books containing accounts of an individual's or organization's occurrences or transactions, including records of financial transactions. Use <em>Diaries</em> when referring to personal accounts of the writer's experiences, attitudes, or observations.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/gust:509#/image/0">View example: Journals (accounts)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/labels.jpg" alt="Labels (identifying artifacts) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Labels+%28identifying+artifacts%29+">Labels (identifying artifacts)</a></strong>
<br />
Pieces of paper inscribed and affixed to something for identification or description.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll46:161#/image/0">View example: Labels (identifying artifacts)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/lantern.jpg" alt="Lantern slides example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Lantern+slides">Lantern slides</a></strong>
<br />
Transparent positive image made or mounted on glass, usually (but not necessarily) photographic. Measurements: 3.25 to 3.5 inches by 4 inches. Lantern slides are projected onto a screen by means of a specialized projector.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/lfw:0#/image/0">View example: Lantern slides</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/leaflets.jpg" alt="Leaflets (printed works) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Leaflets+%28printed+works%29">Leaflets (printed works)</a></strong>
<br />
Small printed works consisting of one small-sized leaf of paper folded and not stitched or bound, containing printed matter, chiefly for gratuitous distribution.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mhs:505#/image/0">View example: Leaflets (printed works)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/ledgers.jpg" alt="Ledgers (account books) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Ledgers+%28account+books%29">Ledgers (account books)</a></strong>
<br />
Volumes of final entry in accounting in which are entered debits, credits, and all other money transactions under each individual account or heading.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/carl:157#/image/0">View example: Ledgers (account books)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/letters.jpg" alt="Letters (correspondence) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Letters+%28correspondence%29">Letters (correspondence)</a></strong>
<br />
Pieces of correspondence that are somewhat more formal than memoranda or notes, usually on paper and delivered.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p15160coll1:1614#/image/0">View example: Letters (correspondence)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/licenses.jpg" alt="Licenses example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Licenses">Licenses</a></strong>
<br />
Documents evidencing a right or permission, granted to an individual or organization in accordance with law by a competent authority, to engage in some transaction, business, or occupation, or to do some act.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll46:166#/image/0">View example: Licenses</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/magazines.jpg" alt="Magazines (periodicals) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Magazines+%28periodicals%29">Magazines (periodicals)</a></strong>
<br />
Periodicals containing articles, essays, poems, or other writings by different authors, usually on a variety of topics and intended for a general reading public or treating a particular area of interest for a popular audience.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/msu:418#/image/0">View example: Magazines (periodicals)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/maps.jpg" alt="Maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Maps">Maps</a></strong>
<br />
Refers to graphic or photogrammetric representations of the Earth's surface or a part of it, including physical features and political boundaries, where each point corresponds to a geographical or celestial position according to a definite scale or projection. The term may also refer to similar depictions of other planets, suns, other heavenly bodies, or areas of the heavens.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mgs:1179#/image/0">View example: Maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/medicine.jpg" alt="Medicine bottles example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Medicine+bottles">Medicine bottles</a></strong>
<br />
Bottles of varying size, shape, and style made to contain medicine, particularly those intended to be taken home by customers of an apothecary or sold elsewhere; examples include collectible patent medicine bottles.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll46:193#/image/0">View example: Medicine bottles</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/membership.jpg" alt="Membership cards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Membership+cards">Membership cards</a></strong>
<br />
Cards issued to individual members of an organization attesting to the fact of their membership, typically wallet-sized and carrying the name of the member and the name or logo of the organization.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll23:190#/image/0">View example: Membership cards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/memberlist.png" alt="Membership Lists example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Membership+lists">Membership Lists</a></strong>
<br />
Lists or rolls of the collective body of members, as of a society, at a given time.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll73:1220#/image/0">View example: Membership Lists</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/memoirs.jpg" alt="Memoirs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Memoirs">Memoirs</a></strong>
<br />
Narratives or histories autobiographical in nature or stressing the author's personal experience of the events.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/olms:1071#/image/0">View example: Memoirs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/memorandums.jpg" alt="Memorandums example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Memorandums">Memorandums</a></strong>
<br />
Documents recording information used for internal communication.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:462#/image/0">View example: Memorandums</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/menus.jpg" alt="Menus example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726275&f%5Bphysical_format_ssi%5D%5B%5D=Menus">Menus</a></strong>
<br />
Lists of dishes to be served or available for meals.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/sew:97#/image/0">View example: Menus</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/minutes.jpg" alt="Minutes (administrative records) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Minutes+%28administrative+records%29">Minutes (administrative records)</a></strong>
<br />
Records of what was said and done at meetings or conferences.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll13:11#/image/0">View example: Minutes (administrative records)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/muster.jpg" alt="Muster rolls example." class="img-rounded" />
<strong><a href="reflections.mndigital.org/?_=1496674726278&f[physical_format_ssi][]=Muster+Rolls">Muster rolls</a></strong>
<br />
Lists of troops actually present, made on the day of muster or review of troops in order to take account of their condition; used as the paymaster's voucher for the pay she/he issued.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll47:197#/image/0">View example: Muster rolls</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/negatives.jpg" alt="Negatives (photographic) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Negatives+%28photographic%29">Negatives (photographic)</a></strong>
<br />
Photographs, usually on a transparent support, in which the tones or colors are reversed from their appearance in nature. This includes glass plate negatives.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/swede:107#/image/0">View example: Negatives (photographic)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/newsletters.jpg" alt="Newsletters example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Newsletters">Newsletters</a></strong>
<br />
Letters, reports, or other brief written communications that communicate news, particularly those written by societies or business organizations. Historically referred to serial publications consisting of one or a few printed sheets containing news and information of interest to the general public or to a special group.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mdt:1299#/image/0">View example: Newsletters</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/newspapers.jpg" alt="Newspapers example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Newspapers">Newspapers</a></strong>
<br />
Serials published at stated, frequent intervals, such as daily or weekly, and containing news, editorials, features, advertisements, and other items of current interest.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll2:13592#/image/0">View example: Newspapers</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/notes.jpg" alt="Notes example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Notes">Notes</a></strong>
<br />
Brief statements of a fact or experience, written down for review, or as an aid to memory, or to inform someone else; also includes short, informal letters.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:1722#/image/0">View example: Notes</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/oaths.png" alt="Oaths example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Oaths">Oaths</a></strong>
<br />
Any forms of attestation, written or verbal, by which persons signify that they are bound in conscience to perform an act faithfully and truthfully.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:1722#/image/0">View example: Oaths</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/oralhistories.jpg" alt="Oral histories example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Oral+histories">Oral histories</a></strong>
<br />
Works that record interviews conducted to preserve the recollections of persons whose experience or memories are representative or are of special historical or social significance.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nemhc:4889#/kaltura_audio">View example: Oral histories</a>
</p>
</div>

<!--<div class="glossary">
<p>
<img src="/images/pages/glossary/packaging.jpg" alt="Packaging example." class="img-rounded" />
<strong><a href="/cdm/search/searchterm/Packaging/field/formatb/mode/all/conn/and/order/title/ad/asc">Packaging</a></strong>
<br />
Materials for the packing or protective wrapping of products that contain information or otherwise convey a message about the product.
<br /><br />
<a href="/cdm/ref/collection/p16022coll53/id/32">View example: Packaging</a>
</p>
</div>-->

<div class="glossary">
<p>
<img src="/images/pages/glossary/paintings.jpg" alt="Paintings (visual works) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Paintings+%28visual+works%29">Paintings (visual works)</a></strong>
<br />
Unique works in which images are formed primarily by the direct application of pigments suspended in oil, water, egg yolk, molten wax, or other liquid, arranged in masses of color, onto a generally two-dimensional surface.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nlc:10#/image/0">View example: Paintings (visual works)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/pamphlets.jpg" alt="Pamphlets example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Pamphlets">Pamphlets</a></strong>
<br />
Independent publications consisting of a few leaves of printed matter folded or fastened together but not bound, often with no cover or a paper cover. For smaller printed works, of one sheet folded and not stitched or bound, use <em>Leaflets (printed works)</em>.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/macal:294#/image/0">View example: Pamphlets</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/panoramas.jpg" alt="Panoramas example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Panoramas">Panoramas</a></strong>
<br />
Refers generally to pictorial representations with very broad horizontal ranges of view. The term is also used specifically for photographs that show a wide view produced by a panoramic camera or by joining photographs together.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/irrc:2519#/image/0">View example: Panoramas</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/pattern.jpg" alt="Pattern books example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Pattern+Books">Pattern books</a></strong>
<br />
Books of designs or plans circulated or published to enable widespread copying. May also be used for unbound collections of drawings or prints which serve as artists' models. NOTE: use this term for individual patterns.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/stbm:5885#/image/0">View example: Pattern books</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/pennants.jpg" alt="Pennants example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Pennants+">Pennants</a></strong>
<br />
Tapering flags, usually pieces of cloth or other flexible material, usually attached along one side to a pole or cord, intended for such purposes as symbolizing a nation or organization, or as a means of signaling.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll45:2#/image/0">View example: Pennants</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/periodicals.jpg" alt="Periodicals example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Periodicals">Periodicals</a></strong>
<br />
Publications issued at regular intervals, but not daily, containing articles on various subjects by different authors for the general reader.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll34:7#/image/0">View example: Periodicals</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/mortars.jpg" alt="Pestles Mortars (grinding tools) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726278&f%5Bphysical_format_ssi%5D%5B%5D=Pestles+Mortars+%28grinding+tools%29+">Pestles Mortars (grinding tools)</a></strong>
<br />
Club-shaped instruments of a hard material with a round end used for crushing, pounding, or grinding herbs, spices, drugs, pigments, or other materials in a mortar, which is a cup-shaped receptacle.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll46:179#/image/0">View example: Pestles Mortars (grinding tools)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/petitions.png" alt="Petitions example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Petitions">Petitions</a></strong>
<br />
Includes any written requests and lists of signatures submitted to an authority to appeal for the performance of a specific action.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll73:1178#/image/0">View example: Petitions</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/photoalbums.jpg" alt="Photograph albums example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726282&f%5Bphysical_format_ssi%5D%5B%5D=Photograph+albums">Photograph albums</a></strong>
<br />
Albums made up of mounted photographs, with or without identifying information.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/rtc:878#/image/0">View example: Photograph albums</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/plats.jpg" alt="Plats (maps) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726281&f%5Bphysical_format_ssi%5D%5B%5D=Plats+%28maps%29">Plats (maps)</a></strong>
<br />
Maps, charts, or plans that show the location, boundaries, and ownership of individual properties.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p15160coll14:182#/image/0">View example: Plats (maps)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/poems.jpg" alt="Poems example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Poems">Poems</a></strong>
<br />
Written or oral compositions characterized by condensed language chosen for sound and suggestive power as well as meaning, and by the use of such literary techniques as structured meter, natural cadences, rhyme, or metaphor.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll20:476#/image/0">View example: Poems</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/postal.jpg" alt="Postal cards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Postal+cards">Postal cards</a></strong>
<br />
Cards sold by the post office with postage stamps already printed on them.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spp:534#/image/0">View example: Postal cards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/postcards.jpg" alt="Postcards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Postcards">Postcards</a></strong>
<br />
Cards on which a message may be written or printed for mailing without an envelope, usually at a lower rate than that for letters in envelopes. One side of the card frequently features a photographic image, advertisement, or graphic illustration.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nico:2122#/image/0">View example: Postcards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/posters.jpg" alt="Posters example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Posters">Posters</a></strong>
<br />
Notices, usually decorative or pictorial, intended to be posted to advertise, promote, or publicize an activity, cause, product, or service; also, decorative, mass-produced prints intended for hanging.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/wch:333#/image/0">View example: Posters</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/prints.jpg" alt="Prints (visual works) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Prints+%28visual+works%29">Prints (visual works)</a></strong>
<br />
Pictorial works produced by transferring images by means of a matrix such as a plate, block, or screen, using any of various printing processes. Common types of prints include engravings, etchings, and lithographs.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nico:1614#/image/0">View example: Prints (visual works)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/proceedings.png" alt="Proceedings example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Proceedings">Proceedings</a></strong>
<br />
Records of meetings of a conference, society or other organization, usually published, and frequently accompanied by abstracts or reports of papers presented.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll73:396#/image/0">View example: Proceedings</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/programs.jpg" alt="Programs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Programs">Programs</a></strong>
<br />
Brief outlines or explanations of the order to be pursued, criteria for participation, or the subjects embraced in a given event or endeavor. Includes lists of the features composing a dramatic or other performance, with the names of participants.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:2587#/image/0">View example: Programs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/radio.png" alt="Radio Scripts example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Radio+scripts">Radio Scripts</a></strong>
<br />
Scripts used for radio programs.
<br /><br />
<a href="http://www.reflections.mndigital.org/catalog/p16022coll60:17#/image/0">View example: Radio Scripts</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/receipts.jpg" alt="Receipts (financial records) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Receipts+%28financial+records%29">Receipts (financial records)</a></strong>
<br />
Written acknowledgment of the receiving or taking of goods or money delivered or paid.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/sew:68#/image/0">View example: Receipts (financial records)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/registrations.jpg" alt="Registrations (licenses) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Registrations+%28licenses%29">Registrations (licenses)</a></strong>
<br />
Documents attesting to acts of registering.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mdt:176#/image/0">View example: Registrations (licenses)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/reports.jpg" alt="Reports example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Reports">Reports</a></strong>
<br />
Official or formal records of a special investigation, in the form of documents containing presentations of facts, proceedings, investigations, or events.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:7759#/image/0">View example: Reports</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/resolutions.png" alt="Resolutions (administrative records) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Resolutions+%28administrative+records%29">Resolutions (administrative records)</a></strong>
<br />
Formal expressions of the opinion formed by some superior authority on matters referred to its decisions and forwarded to inferior authorities for their instruction and government.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll60:1934#/image/0">View example: Resolutions (administrative records)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/samples.jpg" alt="Samples example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Samples">Samples</a></strong>
<br />
Individual units, segments, or small quantities taken as evidence of the quality or character of the entire group or lot.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll41:166#/image/0">View example: Samples</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/schedules.jpg" alt="Schedules (time plans) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Schedules+%28time+plans%29">Schedules (time plans)</a></strong>
<br />
Plans of procedure, showing the sequence of items or operations and the time allotted for each.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/msn:835#/image/0">View example: Schedules (time plans)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/scrapbooks.jpg" alt="Scrapbooks example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Scrapbooks">Scrapbooks</a></strong>
<br />
Books or albums designed so that a variety of items may be affixed to the pages, including photographs, clippings, and other memorabilia.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nsm:101#/image/0">View example: Scrapbooks</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/sculpture.png" alt="Sculpture (visual works) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Sculpture+%28visual+works%29">Sculpture (visual works)</a></strong>
<br />
Three-dimensional works of art in which images and forms are produced in relief, in intaglio, or in the round. The term refers particularly to art works created by carving or engraving a hard material, by molding or casting a malleable material (which usually then hardens), or by assembling parts to create a three-dimensional object.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll54:84#/image/0">View example: Sculpture (visual works)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/sheetmusic.jpg" alt="Sheet music example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Sheet+music">Sheet music</a></strong>
<br />
Music printed on unbound sheets of paper. Compare to <em>Songbooks</em>.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/wch:374#/image/0">View example: Sheet music</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/oralhistories.jpg" alt="Short subjects example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726283&f%5Bphysical_format_ssi%5D%5B%5D=Short+subjects">Short subjects</a></strong>
<br />
Motion pictures whose length is relatively short in comparison to feature films, this films typically ranging from a few minutes to one hour.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll50:699#/kaltura_video">View example: Short subjects</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/oralhistories.jpg" alt="Silent Films example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?f%5Bphysical_format_ssi%5D%5B%5D=Silent+films">Silent Films</a></strong>
<br />
Motion pictures made without a photographic or magnetic sound track carried on the physical medium of the film itself.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll47:7623#/kaltura_video">View example: Silent Films</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/slides.jpg" alt="Slides (photographs) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Slides+%28photographs%29">Slides (photographs)</a></strong>
<br />
Positive transparencies in mounts suitable for projection, usually 35mm film in a mount of 2 by 2 inches. An image on film or glass, usually positive, intended to be viewed by means of light passing through the image and base using a viewer or projector.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nemhc:4043#/image/0">View example: Slides (photographs)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/songbooks.jpg" alt="Songbooks example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Songbooks">Songbooks</a></strong>
<br />
Books containing brief musical compositions written or adapted for singing. Compare to <em>Sheet music</em>.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/iml:2287#/image/0">View example: Songbooks</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/speeches.jpg" alt="Speeches example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Speeches">Speeches</a></strong>
<br />
Documents containing the text of any public address or talk. Also includes sound recording in which someone is orating a public address or talk.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mhs:559#/image/0">View example: Speeches</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/stationery.jpg" alt="Stationery example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Stationery">Stationery</a></strong>
<br />
Paper for writing letters, often having a letterhead or decorative design, and often accompanied by matching envelopes.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/ren:314#/image/0">View example: Stationery</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/statutes.jpg" alt="Statutes example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Statutes">Statutes</a></strong>
<br />
Acts of a legislature declaring, commanding, or prohibiting something, expressed according to the forms necessary to constitute law.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:447#/image/0">View example: Statutes</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/stereographs.jpg" alt="Stereographs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Stereographs">Stereographs</a></strong>
<br />
Refers to the most popular and common form of stereoscopic photographs, which are double photographs of the same image taken from two slightly different perspectives. Stereographs are distinctive among other stereoscopic photographs because they are photographic prints mounted on cards.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:234#/image/0">View example: Stereographs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/studio.jpg" alt="Studio portraits example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Studio+portraits">Studio portraits</a></strong>
<br />
Portraits taken in a professional photographer's studio, often making use of backdrops or props.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/irrc:1558#/image/0">View example: Studio portraits</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/telegrams.jpg" alt="Telegrams example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Telegrams">Telegrams</a></strong>
<br />
Messages sent by telegraph.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/spl:802#/image/0">View example: Telegrams</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/oralhistories.jpg" alt="Television programs example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Television+programs">Television programs</a></strong>
<br />
Presentations of informational or entertainment shows such as news, sports, drama, comedy, music, documentary, talk or game shows to the public by means of television transmission.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll38:75#/kaltura_video">View example: Television programs</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/tickets.jpg" alt="Tickets example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Tickets">Tickets</a></strong>
<br />
Slips of paper or cardboard serving as evidence that the holder has paid a fare or admission or is entitled to some service.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/macal:304#/image/0">View example: Tickets</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/tintypes.jpg" alt="Tintypes example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Tintypes">Tintypes</a></strong>
<br />
Photographs produced by the wet collodion process and then placed directly on thin sheets of lacquered metal, usually iron. NOTE: <em>Tintypes</em> are not to be confused with <em>Daguerreotypes</em> which utilize a copper plate for the image support.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/irrc:1556#/image/0">View example: Tintypes</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/topographic.jpg" alt="Topographic maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Topographic+maps">Topographic maps</a></strong>
<br />
Refers to maps representing a region at a level of detail or scale between a plan, which is a small area, and a chorographic map, which is a large regional map. Topographic maps include accurate representations of the location and shape of both natural and manmade features. The term refers to maps of various scales in different nations; it is generally limited to maps at scales of 1:500,000 or larger in the U.S. The term is often mistakenly interpreted to mean maps that only represent natural relief features.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/irrc:2243#/image/0">View example: Topographic maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/tourist.jpg" alt="Tourist maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Tourist+maps">Tourist maps</a></strong>
<br />
Maps intended to introduce a region or locality to tourists, who are visitors to an unfamiliar place, particularly those who travel for pleasure or culture, usually to visit a number of places with the goal of experiencing places of interest and scenery.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/nemhc:2793#/image/0">View example: Tourist maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/tradecards.jpg" alt="Trade cards example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Trade+cards">Trade cards</a></strong>
<br />
Small printed sheets, and later cards, bearing tradesmen's advertisements, often including an engraved, full-color illustration; produced through the 19th century. For cards made later, bearing just the name and address of a business concern and the name of its representative, and intended more for information than for advertising, use "<strong>Business cards</strong>."
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:23429#/image/0">View example: Trade cards</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/transportation.jpg" alt="Transportation maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Transportation+maps">Transportation maps</a></strong>
<br />
Maps intended to assist people in the navigation and use of a particular city or region's transit system. Transit systems can include bus, street car, trolley, rail, or road systems. These maps often include route information, timetables, fare information, and local points of interest.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mdt:215#/image/0">View example: Transportation maps</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/trophies.jpg" alt="Trophies (objects) example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726284&f%5Bphysical_format_ssi%5D%5B%5D=Trophies+%28objects%29+">Trophies (objects)</a></strong>
<br />
Objects awarded as prizes for victory in contests; typically include such things as elaborate silver pieces awarded as contest prizes.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/p16022coll45:154#/image/0">View example: Trophies (objects)</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/wedding.jpg" alt="Wedding announcements example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726286&f%5Bphysical_format_ssi%5D%5B%5D=Wedding+announcements">Wedding announcements</a></strong>
<br />
Generally, announcements of nuptial ceremonies. May be extended to multiple types, including formal printed announcements intended to be mailed, announcements in newspapers, or any historical variant.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/sew:81#/image/0">View example: Wedding announcements</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/wills.jpg" alt="Wills example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726287&f%5Bphysical_format_ssi%5D%5B%5D=Wills">Wills</a></strong>
<br />
Legal instruments in which a person declares the disposition of his/her property, to take effect after his/her death, and which is revocable during the lifetime of that person.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/white:54#/image/0">View example: Wills</a>
</p>
</div>

<div class="glossary">
<p>
<img src="/images/pages/glossary/zoning.jpg" alt="Zoning maps example." class="img-rounded" />
<strong><a href="http://reflections.mndigital.org/?_=1496674726287&f%5Bphysical_format_ssi%5D%5B%5D=Zoning+maps">Zoning maps</a></strong>
<br />
Maps delineating the boundaries of districts which, along with the zoning text, comprise the zoning ordinances.
<br /><br />
<a href="http://reflections.mndigital.org/catalog/mpls:1466#/image/0">View example: Zoning maps</a>
</p>
</div></div></div></div>    </article>

</section>
  </div>
    </section>

    
  </div>
