  <style type="text/css">
    .navbar .search-query-form {
      display: none;
    }
  </style>
  <div class="row home-page">
    <div class="col-md-12">
      <div class="home-wrapper">
        <div id="home-search">
          <%= render_search_bar  %>
        </div>
        <div class="home-desc">
          <a href="/?utf8=✓&search_field=all_fields&q=">Browse all</a> <strong><%= record_count %></strong> items from <strong>187</strong> historical societies, libraries, archives, and cultural organizations across Minnesota
        </div>
      </div>
    </div>
  </div>
    <div class="row browse">
      <div class="col-md-4 col-sm-12">
        <div class="topic">
      <a href="/catalog/facet/topic_ssim?facet.sort=index">
        <span class="browse-text-container">
          <span class="browse-text">Browse by Topic</span>
        </span>
      </a>
    </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="contributor">
      <a href="/catalog/facet/collection_name_ssi?facet.sort=index">
        <span class="browse-text-container">
          <span class="browse-text">Browse by Contributor</span>
        </span>
      </a>
    </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="format">
      <a href="/catalog/facet/physical_format_ssi?facet.sort=index">
        <span class="browse-text-container">
          <span class="browse-text">Browse by Format</span>
        </span>
      </a>
    </div>
      </div>
    </div>
  </div>
<div class="row">
  <%= javascript_pack_tag 'drawMap' %>
    <%= render partial: 'map_view',
      locals: {
        coordinates: random_coordinates,
        map_id: 'home_map',
        with_popup: false
      }
  %>
</div>
