<div class="addthis_inline_share_toolbox"></div>
<!-- <div class="panel feedback-panel"><a href="https://mndigital.org/about/contact-us"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Send us your feedback about our new website!</a></div> -->
<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default more-like-this">
    <div class="panel-heading">Related Items</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :doc %>
    </div>
  </div>
<% end %>

<%= json_page_link %>