#home-page {

  #browse-panel {
    margin-top: 60px;
  }

  .browse:hover {
    color: #ccc;
  }

.browse {
    margin-bottom: 15px;
    display: block;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    padding: 15px;

  }
  .browse-text {
    color: #fff;
    font-size: 160%;
    font-weight: bold;
    text-shadow: 2px 2px #231f20;
  }
}