
/* Scott */

/*  Dark blue: #005da3
  Medium blue: #30aed0
  Light blue: #88c2e6
  Dark green: #468031
  Medium green: #7eba6a
  Light green: #a3bf5b
  Orange: #f1aa29
  Lightest gray: #ecedf0
  Light gray: #d3d4d7
  Medium gray: #6d6e71
  Dark gray/black: #231f20 */

/* import google web font */
@import url(//fonts.googleapis.com/css?family=Muli:400,400i,700,700i);

@media print {
	a[href]:after {
		content: none;
	}

	#sidebar {display:none;}

	#sortAndPerPage {display:none;}

	#previousNextDocument {display:none;}

	.citation-navigation {display:none;}

	.pagination {display:none;}

	.field-label {border:none;}

	.footer {display:none;}
}

body {
    color: #231f20;
    font-family: 'Muli', helvetica, arial, sans-serif;
	font-size: 16px;
}

@media (max-width: 479px) {
	.navbar-form {
		margin-left: -36px !important;
	}
	
	.home-wrapper {
		padding: 0 8px 20px !important;
	}
	
	.home-wrapper .input-group {
		width: 60% !important;
	}

	#documents .document .document-thumbnail {
		float: none !important;
		padding-left: 0 !important;
	}
}

@media (max-width: 599px) {
	.input-group-addon {
		display: none !important;
	}

	.home-desc {
		margin: 0 8px !important;
	}

	.dl-horizontal dt {
		width: auto !important;
		text-align: left !important;
	}

	.dl-horizontal dd {
		clear: left !important;
		margin-left: 0 !important;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		background: transparent image-url("reflections-icon-blacklight.png") no-repeat top left !important;
		width: 74px !important;
	}
	
	#sortAndPerPage, .pagination-search-widgets, .page_links {
		text-align: center !important;
	}
	
	.top-pagination {
		display: none;
	}
	
	.search-widgets {
		float: none !important;
		margin-top: 8px !important;
		text-align: center !important;
	}
	
	.footer-links, .footer-social, .footer-contact {
		text-align: center !important;
	}
}

@media (max-width: 799px) {
	.icon-json {
		display: none !important;
	}

	.home-wrapper {
		margin: 36px 0 8px !important;
		width: auto !important;
	}

	.input-group {
		margin: 0 auto !important;
	}

	.toc-select {
		display: none !important;
	}
}

@media (max-width: 991px) {
	.search_q {
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}
	
	.input-group-addon:first-child {
		display: none;
	}
	
	.browse .topic, .browse .contributor, .browse .format {
		margin: 0 0 8px;
	}
	
	#sidebar {
		margin-top: 0 !important;
	}
}

@media (min-width: 1024px) {
	.search_q {
		width: 500px !important;
	}
}

@media (max-width: 1199px) {
	.home-page {
		.facet-content {
			min-height: 0 !important;
		}
	}
}

@media (min-width: 1450px) {
	.blacklight-catalog-show .container {
		width: 1170px;
	}
}

.blacklight-catalog .container {
	margin: 0 auto;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #468031;
}

h1, .h1 {
	font-size: 40px;
	margin-bottom: 24px;
	margin-top: 0;
}

a {
    color: #005da3;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #468031;
    text-decoration: underline;
}

a.remove:hover {
	background-color: red !important;
	border-color: red !important;
	color: #fff !important;
}

.navbar-brand {
	background: transparent image-url("reflections-logo-blacklight.png") no-repeat top left;
	color: #231f20 !important;
	display: inline-block;
	height: 88px;
	margin: 0 20px 4px 8px !important;
	overflow: hidden;
	padding-right: 0;
	text-align: right;
	text-indent: 100%;
	white-space: nowrap;
	width: 200px;
}

.navbar-default {
	background-color: #d3d4d7;
	border-color: #30aed0;
	box-shadow: 0 0 8px #6d6e71;
}

.navbar-fixed-top {
	border-width: 0 0 2px;
}

#search-navbar {
	z-index: 100000;
}

#search-navbar .search-query-form {
	border: 0;
	float: left;
	padding: 25px 0 0 15px;
	width: 66.66666667%;
}

#search-navbar .input-group {
	width: 60%;
}

.navbar-form {
	margin: 8px 0;
	padding: 25px 0 0 0 !important;
}

.input-group-addon {
	border: none;
	color: #231f20;
}

.input-group-addon:first-child {
	border-right: 1px solid #ecedf0;
}

.form-control {
	border: 1px solid #fff;
	border-radius: 0;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	color: #231f20;
	font-size: 16px;
	height: auto;
}

.btn, .btn-sm, span.constraints-label {
	font-size: 16px;
}

.btn-default {
	border-color: #d3d4d7;
	color: #231f20;
}

.btn-default:hover {
	background: #ecedf0 !important;
	color: #231f20 !important;
	text-decoration: none !important;
}

.btn-primary {
	background-color: #005da3;
	border-color: #005da3;
}

.btn-primary:hover {
	background-color: #468031;
	border-color: #468031;
	color: #fff !important;
	text-decoration: none !important;
}

.btn-link {
	color: #005da3;
}

.close {
	opacity: 0.3;
}

.btn .disabled a:hover {
	color: #231f20 !important;
	text-decoration: none !important;
}

.nav>li>a {
	background-color: #d3d4d7;
	display: block;
	padding: 10px 15px !important;
	position: relative;
	text-decoration: none;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #ecedf0;
	border: none !important;
	text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li>a.active, .nav-pills>li>a.active:hover, .nav-pills>li>a.active:focus {
	background-color: #005da3;
	color: #fff;
	text-decoration: none;
}

.nav-tabs, .nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: none !important;
}

.pagination-search-widgets {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	margin-bottom: 24px;
	padding: 0 8px;
}

.btn:hover,.facets-toggle:hover,.btn:focus,.facets-toggle:focus,.btn.focus,.focus.facets-toggle {
	color: #468031;
	text-decoration: underline;
}

#main-container, #content, #sidebar {
	margin-top: 60px;
}

.panel-default {
	border-color: #468031;
}

.panel-default > .panel-heading {
	background-color: #468031;
	border-color: #468031;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

.panel-heading.collapse-toggle .panel-title::after {
	color: #fff !important;
}

.modal-dialog {
	margin: 120px auto;
}

.modal-header {
	border-bottom: 1px solid #d3d4d7;
}

.pages {
	margin: 75px 20px 0;
}

.ppt-download img {
  margin: 0 10px 15px 0;
}

.icon-json {
  font-size: 3em;
  margin-top: 15px;
}

.glossary {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	margin: 8px 0;
	padding: 12px;
}

.glossary img {
	float: left;
	margin: 0 12px 12px 0;
}

/* Non-modal filter landing pages */
#main-container .facet_pagination.top {
	margin: 60px 0 0 0;
	padding: 0 !important;
}

#main-container .modal-header, #main-container .modal-footer {
	margin: 0 15px;
	padding: 15px 0 !important;
}

#main-container .alpha-filter .pagination {
	margin: 6px 0 0 0;
}

.modal-header .alpha-filter {
	margin: 8px -14px 0;
}

/* Homepage styles */

#home-search {
	text-align: center;
	width: auto;
}

.home-wrapper {
	.search_field {
		display: none;
	}
	.input-group-addon {
		display: none;
	}
	.search_q {
		width: 100%;
		border: 1px solid #468031;
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

	.navbar-form {
		padding: 0;
	}

	background-color: #ecedf0;
	border-radius: 4px;
	margin: 50px auto 16px;
	padding: 0 0 20px;
}

.home-desc {
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.home-page {
	.facet-content {
		min-height: 310px;
	}
	margin-top: 10px;
}

.browse .topic {
	background: #005da3 image-url("topic-fall-2018.png") center;
	border-radius: 4px;
}

.browse .contributor {
	background: #a55e00 image-url("contributor-fall-2018.png") left;
	border-radius: 4px;
}

.browse .format {
	background: #468031 image-url("format-fall-2018.png") center;
	border-radius: 4px;
}

.browse a {
	display: block;
	height: 270px;
	margin: 0;
	padding: 0;
	text-decoration: none;
	width: 100%;
}

.browse-text-container {
	background: #005da3;
	opacity: .85;
	padding: 10px 6px 6px;
	position: relative;
	left: 4px;
	top: 5px;
}

.browse-text {
	color: #fff;
	font-size: 150%;
	font-weight: bold;
	text-shadow: 2px 2px #231f20;
}

.input-group-btn {
	width: auto;
}

.alpha-filter .btn {
	margin: 6px 0 12px;
}

.panel-title {
	font-size: 20px;
}

#home_map {
	border-radius: 4px;
	margin-top: 16px;
}

/* End homepage styles */

/* Search results page styles */

.panel-group {
	margin: -15px 0 0 0 !important;
}

.facets .facets-heading {
	/* background: #468031;
	border-radius: 4px;
	color: #fff !important;
	font-weight: bold !important;
	margin: 0 -15px;
	padding: 8px;
	text-align: center;
	text-transform: uppercase; */
	display: none;
}

.facet-label {
	color: #231f20;
}

.facet-values {
	table-layout: auto;
}

.facet-values .facet-label {
	hyphens: none;
	padding-right: 0;
}

.panel-title > a {
	text-decoration: none !important;
	text-transform: none !important;
}

.panel-title > a:hover {
	color: #231f20 !important;
}

.constraints-container {
	background-color: #ecedf0;
	border-color: #d3d4d7;
	margin: 10px 0 20px;
}

#sortAndPerPage {
	border-bottom: none;
	margin: 10px 0 0;
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	color: #005da3;
}

.page_links .page-previous {
	display: none;
}

.page_links .page-next {
	display: none;
}

.search-widgets {
	float: right;
	text-align: right;
}

.documents-list > .document {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	margin-top: 8px;
	padding: 4px 12px;
}

.documents-list em {
	background-color: #fad980;
	padding: 3px;
}

#documents.documents-gallery .document {
	margin: 0 4px !important;
}

#documents.documents-gallery .document .title {
	overflow: auto !important;
}

#documents.documents-gallery .panel {
	margin: 0 0 20px 0 !important;
}

.gallery-result {
	background-color: #ecedf0;
	height: 250px !important;
}

.gallery-result .panel-body {
	height: 250px !important;
}

h3.document-title-heading {
	font-size: 20px !important;
	font-weight: bold !important;
	line-height: 1.5 !important;
	padding-left: 0;
}

.dl-horizontal dt {
	color: #231f20;
	float: left;
	font-weight: bold;
	width: 200px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 10px;
}

.dl-horizontal dd {
	margin-left: 210px;
	margin-bottom: 8px;
}

.pagination {
	margin: 15px 0 5px -7px;
}

.pagination > li > a {
	border: 1px solid #d3d4d7;
	color: #005da3;
}

.pagination > li > a:hover {
	background-color: #ecedf0;
}

.pagination > .disabled > a {
	border-color: #d3d4d7;
	color: #6d6e71;
}

.toggle_bookmark {
	display: none !important;
}
/* End search results item page styles */

/* Item page styles */
.back-search-link:before {
	content: '\e80a';
	font-family: "mdl-fonts";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: none;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.start-over-link:before, .catalog_startOverLink:before {
	content: '\e809';
	font-family: "mdl-fonts";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: none;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-zoom-in::before {
	content: "\e813" !important;
	font-family: "mdl-fonts" !important;
	vertical-align: top !important;
}

.glyphicon-zoom-out::before {
	content: "\e814" !important;
	font-family: "mdl-fonts" !important;
	vertical-align: top !important;
}

.glyphicon-home::before {
	content: "\e812" !important;
	font-family: "mdl-fonts" !important;
	vertical-align: top !important;
}

.glyphicon-resize-full::before {
	content: "\f0b2" !important;
	font-family: "mdl-fonts" !important;
	vertical-align: top !important;
}

.keywords-panel a {
	line-height: 2 !important;
}

.more-like-this {
	margin-top: 20px;
}

.more-like-this .panel-body {
	text-align: center;
}

.more-like-this ul {
	list-style: none;
}

.more-like-this li {
	display: inline-block;
}

.more-like-this img {
	height: 75px;
	width: 75px;
	margin: 5px;
}

.toc-select select {
	max-width: 300px;
}

#react-borealis {
	margin: 0;
	padding: 0;
}

.borealis-tray {
	margin: 0 0 12px !important;
	padding: 0 !important;
}

.image-nav {
	margin: 12px 0 !important;
}

.image-nav ul {
	margin-left: 0 !important;
}

.borealis-pdf-nav {
	margin-top: 12px;
}

.borealis-pdf-nav div {
	display: inline-block;
	margin-right: 15px;
}

.osd {
	padding: 0;
}

.osd-sidebar-header {
	background-color: #ecedf0 !important;
	height: auto !important;
	margin: 15px 0 0;
	padding: 8px 8px 0 !important;
}

.list-inline {
	font-size: 24px;
	margin-left: 0;
	padding: 0 0 8px;
}

.list-inline>li {
	padding-left: 12px !important;
    padding-right: 12px !important;
}

.prev-next a {
	text-decoration: none;
}

.osd-sidebar {
	background-color: #fff !important;
	color: #231f20 !important;
	margin: 0 0 15px;
	padding: 0 !important;
}

.osd-sidebar .page.active {
	background-color: #fad980 !important;
}

.sidebar-list-item .btn.active {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.sidebar-list-item {
	padding: 16px 0 0 !important;
}

.page-button.active {
	background-color: #fff1d2 !important;
	border-radius: 4px;
}

.kaltura-player {
	padding-top: 16px;
}

.addthis_inline_share_toolbox {
	margin: 20px 0 0 -2px;
}

.citation {
	margin: 0 0 12px 0;
	padding: 0;
}

.citation-navigation {
	border-top: none;
	padding-top: 16px;
}

.citation h3 {
	margin-bottom: 8px;
	margin-top: 20px;
}

dt, dd {
	margin: 0;
	padding: 0;
}

.field-label {
	padding-bottom: 0;
}

.label {
	color: #231f20;
	font-size: 100%;
	padding: 0;
}

.label-default {
	background-color: #fff;
}

.download-source {
	margin-bottom: 20px;
	padding: 0;
}

.thumbnail {
	border: 1px solid #d3d4d7;
	margin-bottom: 0;
}

.borealis-thumbnail .active {
	border: 1px solid #005da3;
}

.detail-field-collectiondescription > .field-label {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.detail-field-collectiondescription > .field-definition {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	padding: 8px;
}

#full_record_map {
	margin: 0 -15px;
}

.document #sidebar {
	margin-top: 16px;
}

.feedback-panel {
	background: #a3bf5b;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.feedback-panel a {
	color: #231f20;
	display: inline-block;
	padding: 12px;
	text-decoration: none;
}

a.view-text {
	background-color: #005da3 !important;
	border-color: #005da3 !important;
}

a.view-text:hover {
	background-color: #468031 !important;
	border-color: #468031 !important;
	color: #fff !important;
}

.osd-search-highlight {
	background-color: #fad980;
	font-weight: bold !important;
	padding: 3px;
}
/* End item page styles */

/* Footer styles */
.footer {
	background: #a3bf5b;
	border-top: none;
	margin: 24px auto 0;
	padding: 20px 0;
}

.footer h2 {
	color: #231f20;
	margin-top: 0;
}

.footer a {
	color: #231f20;
	text-decoration: underline;
}

.footer a:hover {
	color: #fff;
}

.footer-links {
	text-align: left;
}

.footer-social {
	text-align: center;
}

.footer-contact {
	text-align: right;
}

.footer .logos a {
    text-decoration: none;
}

.logos {
	margin-top: 24px;
	text-align: center;
}

.logos img {
	background: #fff;
	margin: 4px;
	padding: 8px;
}
/* End footer styles */

